<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ title }}</title>
      <!-- Bootstrap core CSS -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <link href="/css/style.css" rel="stylesheet">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
   </head>
   <body>
      <div id="wrap">
         <nav class="navbar navbar-default">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Home</a>
               </div>
               {{{_sections.nav}}}
            </div>
         </nav>
         <header id="header">
            <div class="container">
               <div class="row">
                  {{{_sections.head}}}
               </div>
            </div>
         </header>
         <section id="main">
         <div class="container">
            <div class="row">
               {{{body}}}
            </div>
         </div>
      </div>

      <footer id="footer">
         <div class="container">
            <p>Copyright INFOR, &copy; 2017</p>
         </div>
      </footer>
      </div>
      <script>
         CKEDITOR.replace( 'editor1' );
      </script>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script id="dsq-count-scr" src="//test-xpjtpahp5a.disqus.com/count.js" async></script>
      <script src="js/bootstrap.min.js"></script>
   </body>
</html>
