# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
credentials.js
*.log
*.pdf
*.txt
error.log
access.log
**/files
.git/
bower_components
public/js/bundle.js
public/js/bundle.js.map
public/js/vendor.js
public/js/vendor.bundle.js
