</div>
</div>
</div>
<footer class="footer" id="footer">
<div class="container">
<p>Copyright INFOR, &copy; 2017</p>
</div>
</footer>
</div>

<!-- ckeditor -->
<script>
CKEDITOR.replace( 'editor1' );

</script>
<!-- disqus -->
<!-- <script id="dsq-count-scr" src="//test-xpjtpahp5a.disqus.com/count.js" async></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/js/flot/jquery.flot.pie.js"></script>


<script src="/js/bootstrap.min.js"></script>
<script src="/js/material.js"></script>
<script src="/js/ripples.js"></script>

<script src="/js/upload.js"></script>
<script src="/js/comment.js"></script>
<script src="/js/formEdit.js"></script>
<!-- <script src="/js/knockout-3.4.2.js"></script> -->

<!-- init material -->
<script>
    $.material.init();
</script>

</body>
</html>
