<%- include header  %>
	<form method="post" action='/pdfUpload' enctype = 'multipart/form-data'>
		
		<input type="file" name="pdf"/><br/>
		
		
		<input type="submit">
	</form>

	<form method="get" action="/txt">
		<input type="submit" name="抓題">
	</from>
	<br>
	<form>
	  <input type="radio" name="subject" value="english" checked>english<br>
	  <input type="radio" name="subject" value="chinese"> chinese<br>
	  <input type="radio" name="subject" value="math"> math <br>
	  <input type="radio" name="subject" value="science"> science <br>
	  <input type="radio" name="subject" value="social"> social <br>
	</form>
<%- include footer  %>