<%- include header  %>
	<form method="post">
		標題: <br/>
		<input type="text" name="title"/><br/>
		標籤: </br>
		<input type="text" name="tag1"/><input type="text" name="tag2"/><input type="text" name="tag3"/><br/>
		內文: <br/>
		<textarea name = "post" rows = "20" cols = "100"></textarea><br/>
		<input type="submit" value="發表">
	</form>
<%- include footer  %>