<!DOCTYPE html>
<html>
    <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">

       <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
       <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

       <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

       <link rel="stylesheet" type="text/css" href="/css/bootstrap-material-design.css">
       <link rel="stylesheet" type="text/css" href="/css/ripples.min.css">
       <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>INFOR Moodle</title>
    </head>
    <body>
        <div id="wrap">
            <%- markup -%>
        </div>
        <script src="/js/vendor.js"></script>
        <script src="/js/vendor.bundle.js"></script>
        <script src="/js/bundle.js"></script>
        <script src="/js/material.js"></script>
        <script src="/js/ripples.js"></script>
        <script type="text/javascript">
            $.material.init();
        </script>
    </body>
</html>
